In [1]:
import pandas as pd
df_train=pd.read_csv("healthcare/train_data.csv")
df_test=pd.read_csv("healthcare/test_data.csv")

In [2]:
df_train.head()

   case_id  Hospital_code Hospital_type_code  ...    Age Admission_Deposit   Stay
0        1              8                  c  ...  51-60            4911.0   0-10
1        2              2                  c  ...  51-60            5954.0  41-50
2        3             10                  e  ...  51-60            4745.0  31-40
3        4             26                  b  ...  51-60            7272.0  41-50
4        5             26                  b  ...  51-60            5558.0  41-50

[5 rows x 18 columns]

In [3]:
df_train.shape

(318438, 18)

In [4]:
df_train.isna().sum()

case_id                                 0
Hospital_code                           0
Hospital_type_code                      0
City_Code_Hospital                      0
Hospital_region_code                    0
Available Extra Rooms in Hospital       0
Department                              0
Ward_Type                               0
Ward_Facility_Code                      0
Bed Grade                             113
patientid                               0
City_Code_Patient                    4532
Type of Admission                       0
Severity of Illness                     0
Visitors with Patient                   0
Age                                     0
Admission_Deposit                       0
Stay                                    0
dtype: int64

In [5]:
df_train["Bed Grade"].unique()

array([ 2.,  3.,  4.,  1., nan])

In [6]:
df_train.City_Code_Patient.unique()

array([ 7.,  8.,  2.,  5.,  6.,  3.,  4.,  1.,  9., 14., nan, 25., 15.,
       12., 10., 28., 24., 23., 20., 11., 13., 21., 18., 16., 26., 27.,
       22., 19., 31., 34., 32., 30., 29., 37., 33., 35., 36., 38.])

In [7]:
df_train.case_id.shape

(318438,)

In [8]:
df_train.drop("case_id",axis=1,inplace=True)

In [9]:
df_test.shape

(137057, 17)

In [10]:
df_test.head()

   case_id  Hospital_code  ...    Age  Admission_Deposit
0   318439             21  ...  71-80             3095.0
1   318440             29  ...  71-80             4018.0
2   318441             26  ...  71-80             4492.0
3   318442              6  ...  71-80             4173.0
4   318443             28  ...  71-80             4161.0

[5 rows x 17 columns]

In [11]:
df_train.Stay.unique()

array(['0-10', '41-50', '31-40', '11-20', '51-60', '21-30', '71-80',
       'More than 100 Days', '81-90', '61-70', '91-100'], dtype=object)

SO WE CAN MAKE A CLASSIFICATION MODEL USING THIS DATA LETS DO THAT

In [12]:
dictionary={'0-10':1, '41-50':5, '31-40':4, '11-20':2, '51-60':6, '21-30':3, '71-80':8,
       'More than 100 Days':11, '81-90':9, '61-70':7, '91-100':10}

df_train["updated_stay"]=df_train.Stay.replace(dictionary)

In [13]:
df_train.head()

   Hospital_code Hospital_type_code  ...   Stay updated_stay
0              8                  c  ...   0-10            1
1              2                  c  ...  41-50            5
2             10                  e  ...  31-40            4
3             26                  b  ...  41-50            5
4             26                  b  ...  41-50            5

[5 rows x 18 columns]

In [14]:
#lets create dummies for categorical columns
df_train.Hospital_type_code.unique()

array(['c', 'e', 'b', 'a', 'f', 'd', 'g'], dtype=object)

In [15]:
df_train.Hospital_region_code.unique()

array(['Z', 'X', 'Y'], dtype=object)

In [16]:
df_train.Department.unique()

array(['radiotherapy', 'anesthesia', 'gynecology', 'TB & Chest disease',
       'surgery'], dtype=object)

In [17]:
df_train.Age.unique()

array(['51-60', '71-80', '31-40', '41-50', '81-90', '61-70', '21-30',
       '11-20', '0-10', '91-100'], dtype=object)

In [18]:
Age_dict={'51-60':6, '71-80':8, '31-40':4, '41-50':5, '81-90':9, '61-70':7, '21-30':3,'11-20':2 , '0-10':1, '91-100':10}
df_train["updated_age"]=df_train.Age.replace(Age_dict)

In [19]:
#replace the same thing in test data set also
df_test["updated_age"]=df_test.Age.replace(Age_dict)

In [20]:
df_train.head(1)

   Hospital_code Hospital_type_code  ...  updated_stay updated_age
0              8                  c  ...             1           6

[1 rows x 19 columns]

In [21]:
df_test.head(1)

   case_id  Hospital_code  ... Admission_Deposit  updated_age
0   318439             21  ...            3095.0            8

[1 rows x 18 columns]

In [22]:
df_train.drop("Age",axis=1,inplace=True)
df_test.drop("Age",axis=1,inplace=True)
df_train.drop("Stay",axis=1,inplace=True)
test_id=df_test.case_id
df_test.drop("case_id",axis=1,inplace=True)

In [23]:
df_train.head()

   Hospital_code Hospital_type_code  ...  updated_stay updated_age
0              8                  c  ...             1           6
1              2                  c  ...             5           6
2             10                  e  ...             4           6
3             26                  b  ...             5           6
4             26                  b  ...             5           6

[5 rows x 17 columns]

In [24]:
df_test.isna().sum()

Hospital_code                           0
Hospital_type_code                      0
City_Code_Hospital                      0
Hospital_region_code                    0
Available Extra Rooms in Hospital       0
Department                              0
Ward_Type                               0
Ward_Facility_Code                      0
Bed Grade                              35
patientid                               0
City_Code_Patient                    2157
Type of Admission                       0
Severity of Illness                     0
Visitors with Patient                   0
Admission_Deposit                       0
updated_age                             0
dtype: int64

Lets fill null with some meaningful data at null places

In [26]:
df_train.isnull().sum()

Hospital_code                           0
Hospital_type_code                      0
City_Code_Hospital                      0
Hospital_region_code                    0
Available Extra Rooms in Hospital       0
Department                              0
Ward_Type                               0
Ward_Facility_Code                      0
Bed Grade                             113
patientid                               0
City_Code_Patient                    4532
Type of Admission                       0
Severity of Illness                     0
Visitors with Patient                   0
Admission_Deposit                       0
updated_stay                            0
updated_age                             0
dtype: int64

In [27]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318438 entries, 0 to 318437
Data columns (total 17 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Hospital_code                      318438 non-null  int64
 1   Hospital_type_code                 318438 non-null  object
 2   City_Code_Hospital                 318438 non-null  int64
 3   Hospital_region_code               318438 non-null  object
 4   Available Extra Rooms in Hospital  318438 non-null  int64
 5   Department                         318438 non-null  object
 6   Ward_Type                          318438 non-null  object
 7   Ward_Facility_Code                 318438 non-null  object
 8   Bed Grade                          318325 non-null  float64
 9   patientid                          318438 non-null  int64
 10  City_Code_Patient                  313906 non-null  float64
 11  Type of Admission                  318438 non-null  object
 12  Severity of Illness                318438 non-null  object
 13  Visitors with Patient              318438 non-null  int64
 14  Admission_Deposit                  318438 non-null  float64
 15  updated_stay                       318438 non-null  int64
 16  updated_age                        318438 non-null  int64
dtypes: float64(3), int64(7), object(7)
memory usage: 41.3+ MB

In [31]:
df_train["Bed Grade"].fillna(method="bfill",inplace=True)
df_test["Bed Grade"].fillna(method="bfill",inplace=True)

In [32]:
df_train["City_Code_Patient"].fillna(method="bfill",inplace=True)
df_test["City_Code_Patient"].fillna(method="bfill",inplace=True)

In [33]:
df_train.to_csv("cleaned_train",index=False)
df_test.to_csv("cleaned_test",index=False)